form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
form input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid var(--darkGrey);
  background-color: var(--white);
  user-select: none;
  margin-bottom: 0.5rem;
}
input[type='text']:focus {
  background-color: var(--grey);
}
form input[type='submit'] {
  color: var(--white);
  width: 100%;
  font-size: 1rem;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--green);
}
form input[type='submit']:hover {
  background-color: var(--lightGreen);
}
form p {
  color: var(--red);
}
