@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --grey: #eeeeee;
  --darkGrey: #808080;
  --black: #000000;
  --red: #ff0000;
  --blue: #0062b2;
  --orange: #ff9f1a;
  --green: #05d69e;
}
body {
  font-family: 'Poppins', sans-serif;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
}