.nav {
  width: 100%;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 89px;
  background-color: var(--blue);
  position: fixed;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid var(--darkGrey);
}

.logo .link {
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--white);
  padding: 0 16px;
  transition: all 0.3s ease-in-out;
}

.link:hover,
.link:focus {
  color: var(--red);
}

.nav .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.is-login {
  font-size: 2rem;
}

.hamburger {
  position: absolute;
  right: 16px;
  top: 48%;
  transform: translateY(-50%);
  z-index: 2;
}

@media (min-width: 876px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 875px) {
  .nav {
    padding: 0 32px;
  }
  .nav img {
    display: none;
  }
  .nav .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: -100vh;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    background: var(--black);
    height: 12rem;
  }
  .nav h1 {
    font-size: 1.2rem;
  }
  .link {
    transition: all 0.3s ease-in-out;
  }

  .navbar-none {
    transform: translateY(calc(100vh + 89px));
  }

  .nav .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 5px;
  }
}

@media (max-width: 485px) {
  .nav {
    padding: 0 8px;
  }

  .hamburger {
    position: absolute;

    top: 48%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
